---
import Button from '~/components/ex/Button/index.astro';
import { Lism, Grid, Icon } from 'lism-css/astro';
import Gradbox from './Gradbox.astro';
// import { PAGE_TITLE_ID } from '@astrojs/starlight/constants';
// import LinkButton from '@astrojs/starlight/user-components/LinkButton.astro';
// import { LinkButton } from '@astrojs/starlight/components/';
// import Orb from './component/Orb';

const PAGE_TITLE_ID = '_id';
const { data } = Astro.locals.starlightRoute.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};
---

<Grid class='z--hero' variant='repeat' cols='5' rows='1' minH={['50svh', '75vh']} ai='c'>
	<Lism class='z--hero_content l--stack -g:40' gc='1 / 5' gr='1' z='1'>
		<div class='l--stack -g:20 copy'>
			<Lism class='z--hero_h1wrap -bgcp:text -w:fit' c='transparent'>
				<h1 id={PAGE_TITLE_ID} class='-fz:5xl' data-page-title set:html={title} />
			</Lism>
			{tagline && <div class='z--hero_tagline' set:html={tagline} />}
		</div>
		{
			actions.length > 0 && (
				<div class='l--flex -g:30'>
					{actions.map(({ attrs: { class: className, ...attrs } = {}, icon, link: href, text, variant }) => (
						<Button {href} {variant} icon={icon?.name} class:list={[className]} g='10' bdrs='99' {...attrs}>
							<span class='-pos:r'>{text}</span>
							{variant === 'primary' && (
								<Icon lh='1' fz='l'>
									<Fragment>📖</Fragment>
								</Icon>
							)}
							{variant === 'secondary' && <Icon lh='1' fz='l' icon='logo-github' />}
						</Button>
					))}
				</div>
			)
		}
	</Lism>
	<Lism class='z--hero_image' gc='3 / 6' gr='1' pb='20' z='0'>
		<Gradbox />
	</Lism>
</Grid>

<!-- <style is:global>
	.orb-container {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
</style> -->
<!-- <style></style> -->
