---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Stack, Container, Frame, Flex, Grid, GridItem, Media, Text, Layer, LinkBox, Icon } from 'lism-css/astro';
import './_style.css';
---

<DemoPageLayout title='Navigation004'>
	<Grid gtr='auto' gtc={['auto', null, 'auto 1fr']} pos='rel'>
		<Container size='l' gr='1' gc='1' py='60' hasGutter pos='rel' z='1'>
			<Stack g='50'>
				<Stack g='40' ai='flex-s' c='white'>
					<Text class='u--trimHL' fz='2xl' fw='bold' ta='center'>製品カテゴリーから探す</Text>
					<p>
						キッチン家電やオーディオ機器など、様々な製品カテゴリーをご用意しています。<br />
						お客様のライフスタイルに合わせた商品を見つけてください。
					</p>
				</Stack>
				<Stack g='60'>
					<Grid gtc='repeat(auto-fit, minmax(250px, 1fr))' g={['40', null, '40']}>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>洗濯機・衣類ケア</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>LAUNDRY</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>掃除機</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>CLEANING</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>オーディオ</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>AUDIO</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>美容・健康家電</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>BEAUTY & HEALTH</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>照明</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>LIGHTING</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>スマートホーム</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>SMART HOME</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>キッチン</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>KITCHEN</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
						<LinkBox href='#' layout={Flex} g='40' ai='center' jc='between' p='40' bgc='white' bdrs='10'>
							<Stack jc='center' g='20'>
								<Text class='u--trimHL' fz='m' fw='bold'>空調・生活家電</Text>
								<Text class='u--trimHL' fz='xs' o='soft'>LIVING & AIR</Text>
							</Stack>
							<Flex ai='center' jc='center' bgc='black' bdrs='99' p='10'>
								<Icon icon='caret-right' fz='xs' c='white' />
							</Flex>
						</LinkBox>
					</Grid>
				</Stack>
			</Stack>
		</Container>
		<GridItem gr='1' gc='1' pos='abs' w='100%' h='100%'>
			<Frame h='100%'>
				<Media src='/img/img-4.jpg' alt='' width='960' height='640' />
				<Layer bgc='black:30%' />
			</Frame>
		</GridItem>
	</Grid>
</DemoPageLayout>
