---
import Button from '~/components/ex/Button/index.astro';
import { Lism, Grid, Flex, Stack, Icon } from 'lism-css/astro';
import Gradbox from './Gradbox.astro';
// import { PAGE_TITLE_ID } from '@astrojs/starlight/constants';
// import LinkButton from '@astrojs/starlight/user-components/LinkButton.astro';
// import { LinkButton } from '@astrojs/starlight/components/';
// import Orb from './component/Orb';

const PAGE_TITLE_ID = '_id';
const { data } = Astro.locals.starlightRoute.entry;
const { title = data.title, tagline, image, actions = [] } = data.hero || {};
---

<Grid class='z--hero' gt='repeat' cols='5' rows='1' min-h={['50svh', '75vh']} ai='center'>
	<Stack class='z--hero_content' g='50' gc='1 / 5' gr='1' z='1'>
		<Stack g='30'>
			<Lism class='z--hero_h1wrap -w:fit'>
				<h1 id={PAGE_TITLE_ID} class='-fz:5xl' data-page-title set:html={title} />
			</Lism>
			{tagline && <div class='z--hero_tagline' set:html={tagline} />}
		</Stack>
		{
			actions.length > 0 && (
				<Flex g='20'>
					{actions.map(({ attrs: { class: className, ...attrs } = {}, icon, link: href, text, variant }) => (
						<Button {href} {variant} icon={icon?.name} class:list={[className]} g='10' bdrs='99' {...attrs}>
							<span class='-pos:rel'>{text}</span>
							{variant === 'primary' && (
								<Icon lh='1' fz='l'>
									<Fragment>📖</Fragment>
								</Icon>
							)}
							{variant === 'secondary' && <Icon lh='1' fz='l' icon='logo-github' />}
						</Button>
					))}
				</Flex>
			)
		}
	</Stack>
	<Lism class='z--hero_image' gc='3 / 6' gr='1' pb='10' z='0'>
		<Gradbox />
	</Lism>
</Grid>
